node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
.env.example
storage/*.key
storage/pail
bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
tests
.editorconfig
README.md
docker
Dockerfile
.dockerignore

